/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', Helvetica;
}

html {
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

section, footer {
    padding-top: 10%;
}

.scontained {
    width: 85%;
    margin: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    padding: 6px 20px;
    background-color: #0061FF;
    color: white;
}

.btn:hover:not(.white-btn) {
    filter: brightness(1.5);
}

.btn:not(nav .btn) {
    display: inline-block;
}

.big-btn {
    padding: 10px 30px;
}

.extended-btn {
    width: 100%;
    text-align: center;
}

.white-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.small {
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1.6;
    font-family: 'Noto Sans', Helvetica;
    font-weight: normal;
}

.normal {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.slim {
    font-size: 1.2vw;
    line-height: 2vw;
}

.bold {
    font-weight: bold;
}

.underlined {
    text-decoration: underline;
}

.bold-title {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.blue-under {
    color: #0061FF;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

input[type = radio] {
    transform: scale(1.5);
    margin-right: 5px;
}

label {
    margin-right: 40px;
}

.col:not(:first-child) {
    margin-left: 6%;
}

/* navigation bar  */

nav {
    height: 80px;
    width: 100%;
    background-color: #fff;
    line-height: 77px;
    position: fixed;
    top: 0;
    padding: 0 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    z-index: 999;
    border-bottom: 1px solid #D0D0D0;
}

nav *:not(.tendina *) {
    vertical-align: middle;
}

#logo {
    max-width: 130px;
}

nav .btn {
    display: inline;
}

nav .float-left li:not(.small, .normal.bold) {
    margin-left: 25px;
    display: inline-block;
}

nav .float-right li:not(.small, .normal.bold) {
    margin-right: 25px;
    display: inline-block;
}

nav ul li a:not(.a-drop) {
    padding-bottom: 28px;
} 

nav ul li a:not(.a-drop):hover {
    border-bottom: 2px solid black;
}

/* menu a comparsa  */
nav .tendina{
    display: none;
    background-color: #FAFAFA;
    position: fixed;
    margin-left: -25px;
    padding-bottom: 10px;
}

nav .tendina ul {
    width: 240px;
}

 nav .a-drop {
     padding: 7px 0 7px 30px;
     display: block;
 }

nav ul > li:hover .tendina {
    display: block;
}
nav .a-drop:hover {
    background-color: #EBEBEB;
}
 nav .tendina ul {
     margin-top: 13px;
 }
nav ul li .normal.bold {
    padding: 10px 0;
    border-bottom: 1px solid #D0D0D0;
    margin: 0px 30px 10px;
}

/* jumbotron */

.jumbo {
    margin-top: 80px;
    background-color: #B4D0E7;
}

.jcontained {
    margin: 0 4%;
}

.jumbo .row {
    margin-top: 7%;
}

.jumbo-left {
    width: 26%;
    margin-right: 0;
}

.jumbo-right {
    width: 65%;
    margin-bottom: -4%;
}

.jumbo h1 {
    padding-top: 5%;
    font-size: 4.7vw;
    line-height: 1.3;
    letter-spacing: -1px;
    transform: scaleY(1.5);
}

.jumbo .btn {
    margin: 20px 0 15px;
}

.arrow {
    font-size: 85px;
}

#jumbo-img {
    width: 100%;
}

/* sezione abbonamenti */

.titolo {
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.radios {
    margin: 50px 0;
}

/* col si applica a sezione plans e operazioni */
.col {
    width: calc(100% / 3 - 4%);
    min-width: 300px;
}

#individual.col {
    padding-bottom: 37px;
}

#standard.col {
    padding-bottom: 16px;
}

.plans .col {
    border: 1px solid #D0D0D0;
}

.plan-row {
    margin-top: 50px;
    border: 1px solid #D0D0D0;
}

.plan-for {
    border-bottom: 1px solid #D0D0D0;
    text-align: center;
    padding: 10px;
}

.plan-spec {
    padding: 30px;
}

.plan-row .row-text {
    width: 80%;
}

.plan-row .row-button {
    width: 20%;
}

.every {
    color: #637381;
    margin-bottom: 17%;
}

.plans .col .plan-spec *:not( .try-buy, .try-buy > *, .bold-title) {
    margin-top: 15px;
}

.plan-row .row-text > *:not(:first-child) {
    margin-top: 20px;
}

.plan-for img, .plan-spec .infos img {
    width: 16px;
    margin-right: 5px;
}

.plan-for img {
    width: 15px;
}

.plan-spec .infos img:last-of-type{
    vertical-align: top;
}

.plan-spec .infos span {
    display: inline-block;
    width: 90%;
}


.try-buy {
    margin-top: 23%;
    position: relative;
}

#advanced .try-buy {
    margin-top: 15%;
    position: relative;
}

.try-buy div.small {
    padding: 20px 0 30px;
}

.border-partial {
    border-bottom: 1px solid #D0D0D0;
    position: absolute;
    bottom: 0;
    width: 50px;
}

.highlights {
    padding: 15px 0;
}

.highlights ul {
    margin-left: 17px;
}

.highlights ul li::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 17px;
    background-image: url(../img/checkmark.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -17px;
}

/* sezione partner */

.ptner-row {
    position: relative;
}

.ptner-img {
    width: 57%;
}

.ptner-text {
    width: 43%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.ptner-img img {
    width: 100%;
}

.ptner-row .abs-center {
    width: 100%;
    padding-left: 15%;
}

.ptner-row .abs-center p {
    margin: 30px 0 35px;
}

/* sezione operazioni */

.doable .row:not(:last-of-type) {
    margin: 4% 0 8%;
}

.doable img {
    width: 100%;
}

.doable .bold-title {
    margin: 5% 0;
}

/* sezione teams */

.teams .titolo {
    width: 55%;
}

.teams .normal {
    margin: 20px 0 40px;
}

.team-boxes {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.box-img {
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    min-width: 150px;
    min-height: 150px;
    position: relative;
}

.box-img .contain-img {
    width: 150px;
    height: 75px;
}

.box-img .contain-img img {
    max-width:100%;
    max-height:100%;
}

/* eccezione per clear channel: non prende altezza max contenitore */
#clear-ch .abs-center.white {
    height: 75px;
}

.box-img .white {
    filter: invert(100%);
}

#designit .box-img {
    background-color: #A2D39B;
}

#asu .box-img {
    background-color: #61082B;
}

#uf .box-img {
    background-color: #0093CE;
}

#topps .box-img {
    background-color: #FF1C1C;
}

#world-bic .box-img {
    background-color: #D5001F;
}

#hearst .box-img {
    background-color: #B4D0E7;
}

#lonely .box-img{
    background-color: #0D2481;
}

#clear-ch .box-img{
    background-color: #FFD830;
}

/* soluzione ambigua */
.box-container {
    position: relative;
}

.team-boxes .prevent-scroll { 
    height: calc(100vw / 3 + 80px);
    position:absolute;
    bottom: 0;
    left: calc(100vw / 3);
}


.abs-text-center {
    width: calc(100vw / 3 - 16px);
    height: calc(100vw / 3);
    background-color: #F5F5F5;
    position: relative;
    top: 80px;
    display: none;
    cursor: default;
}


.abs-text-center .border-partial {
    border-bottom: 1.5px solid #D0D0D0;
}

.abs-text-center .contain-img-abs {
    position: relative;
    padding-bottom: 30px;
}

.contain-img-abs img {
    max-width: 150px;
    max-height: 75px;
}

.abs-text-center .slim {
    padding: 30px 0;
}

.team-boxes.float-left .centerY, .team-boxes.float-right .centerY {
    width: 75%;
    margin-left: 50px;
}

.box-border {
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    min-width: 150px;
    min-height: 150px;
    background-color: transparent;
    position: absolute;
}

/* testo mostrato di default */
#text-designit .abs-text-center {
    display: inline-block;
}

*:target .abs-text-center {
    display: inline-block;
}

#text-designit:target .box-border{
    left: calc( -100vw / 3);
    bottom: calc(100vw / 6);
    border: 10px solid #D1E9CD; 
}

#text-asu:target .box-border{
    left: calc( -100vw / 6);
    bottom: calc(100vw / 6);
    border: 10px solid #B08495; 
}

#text-uf:target .box-border{
    left: calc( -100vw / 3);
    bottom: 0;
    border: 10px solid #80C9E7; 
}

#text-topps:target .box-border{
    left: calc( -100vw / 6);
    bottom: 0;
    border: 10px solid #FF8E8E; 
}

#text-world-bic:target .box-border{
    right: calc(-100vw / 6);
    bottom: calc(100vw / 6);
    border: 10px solid #EA808F; 
}

#text-hearst:target .box-border{
    right: calc(-100vw / 3 + 1px);
    bottom: calc(100vw / 6);
    border: 10px solid #DAE8F3; 
}

#text-lonely:target .box-border{
    right: calc(-100vw / 6);
    bottom: 0;
    border: 10px solid #8692C0; 
}

#text-clear-ch:target .box-border{
    right: calc(-100vw / 3 + 1px);
    bottom: 0;
    border: 10px solid #FFEC98; 
} 

/* sezione trial */
.trial{
    background-color: #B4D0E7;
    padding: 8.5% 0;
}
.trial .titolo {
    color: #61082B;
    width: 60%;
}

.trial .white-btn {
    border: 0;
}
.trial .float-left:last-child {
    width: 40%;
    text-align: right;
}

/* sezione faq */

.faq .bold {
    font-size: 37px;
    padding-bottom: 50px;
}

.faq > * {
    border-bottom: 1px solid #D0D0D0;
}

.faq .q {
    padding: 30px 0;
    position: relative;
}

.faq .q > .normal {
    max-width: 65%;
    display: inline-block;
}

.faq .q .float-right.longer {
    width: 15px;
    position: absolute;
    top: 50px;
    right: 0;
}

.faq .q .float-right{
    width: 15px;
    position: absolute;
    top: 35px;
    right: 0;
}


.faq .q img {
    width: 100%;
}

.faq .answer {
    color: #637381;
    max-width: 70%;
    padding-top: 15px;
    display: none;
}

.faq #chev-up {
    display: none;
}

.faq .answer a {
    color: #637381;
}

.faq .q:hover .answer {
    display: inline-block;
}

.faq .q:hover #chev-up {
    display: inline-block;
}

.faq .q:hover #chev-down {
    display: none;
}

.faq, footer {
    padding-bottom: 10%;
}

/* footer */

footer {
    background-color: black;
}

footer * {
    color: white;
}

footer ul {
    width: 20%;
}

footer ul .normal.bold {
    padding-bottom: 15px;
}

footer ul .small {
    padding-bottom: 10px;
}

.footbottom {
    margin-top: 100px;
}

.border-white {
    width: 100px;
    border-top: 1.5px solid white;
    margin-bottom: 50px;
}

 .lang *:not(i) {
     color: #666666;
 }

 .lang i {
     color: #C0C6CB;
     font-size: 20px;
     vertical-align: middle;
 }
 .lang span:last-child {
     font-size: 10px;
 }

 .lang:hover {
     cursor: pointer
 }




