/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', Helvetica;
}

html {
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.scontained {
    width: 85%;
    margin: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    padding: 6px 20px;
    background-color: #0061FF;
    color: white;
}

.btn:hover {
    cursor: pointer;
}

.btn:not(nav .btn) {
    display: inline-block;
}

.big-btn {
    padding: 10px 25px;
}

.small {
    font-size: 13px;
}

section {
    padding-top: 10%;
}

.normal {
    font-size: 17px;
    line-height: 26px;
}

input[type = radio] {
    transform: scale(1.5);
    margin-right: 5px;
}

label {
    margin-right: 40px;
}

/* navigation bar  */

nav {
    height: 80px;
    width: 100%;
    background-color: #fff;
    line-height: 75px;
    position: fixed;
    top: 0;
    padding: 0 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    z-index: 99;
}

nav * {
    vertical-align: middle;
    display: inline;
}

#logo {
    max-width: 130px;
}

nav li {
    padding-bottom: 30px;
}

nav .float-left li {
    margin-left: 25px;
}

nav .float-right li {
    margin-right: 25px;
}

nav li:hover {
    border-bottom: 2px solid black;
}

#logo:hover {
    cursor: pointer;
}

/* jumbotron */

.jumbo {
    margin-top: 80px;
    padding-bottom: 4%;
    position: relative;
}

.colored {
    padding-bottom: 4%;
    background-color: #B4D0E7;
}

.jcontained {
    padding-top: 6%;
    width: 92%;
    margin: auto;
}

.jumbo-left {
    padding-top: 6%;
    width: 27%;
}

.jumbo h1 {
    font-size: 57px;
    letter-spacing: -1px;
    transform: scaleY(1.4);
}

.jumbo .btn {
    margin: 20px 0 15px;
}

.arrow {
    font-size: 95px;
}

#jumbo-img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 67%;
}

/* sezione abbonamenti */

.titolo {
    font-size: 40px;
    font-weight: bold;
}

.radios {
    margin: 50px 0;
}

.plan-col {
    width: calc(100% / 3 - 4%);
    border: 1px solid #D0D0D0;
    min-width: 300px
}

.colonne > *:not(:first-child) {
    margin-left: 6%;
}

.plan-for {
    border-bottom: 1px solid #D0D0D0;
    text-align: center;
    padding: 10px;
}

.plan-for i {
    margin-right: 5px;
}

.plan-spec {
    padding: 20px 30px;
}

.plan-spec .type {
    font-size: 25px;
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.every {
    color: #637381;
    margin-bottom: 17%;
}

.plan-spec * {
    margin-top: 10px;
}

.plan-spec i {
    font-size: 16px;
    margin-right: 5px;
}

